@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    font-family: 'Poppins', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /* background-color: rgb(59, 130, 246);
    background-image: radial-gradient(at 100% 36%, rgb(133, 77, 14) 0, transparent 1%), radial-gradient(at 87% 24%, rgb(77, 124, 15) 0, transparent 67%), radial-gradient(at 24% 88%, rgb(12, 74, 110) 0, transparent 83%), radial-gradient(at 14% 29%, rgb(34, 197, 94) 0, transparent 74%), radial-gradient(at 22% 32%, rgb(220, 38, 38) 0, transparent 34%), radial-gradient(at 51% 21%, rgb(204, 251, 241) 0, transparent 8%);
   */
   
    padding: 0;
    margin: 0;
}

/* .cursor-c:hover{
    width: 200px;
    height: 200px;
    cursor: url("../src/assets/CS.jpg"),auto;
      
} */

.bgWebinar{
    background-image: url("./assets/bgWebinar2.jpg");
    background-size: cover;
}